<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webp Image Viewer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title">Acquisition of Chess Knowledge in Leela Chess Zero (Lc0)</div>
    <div>by Alex Wilson</div>
    <div>The following is an attempt to reproduce parts of the <a href="https://arxiv.org/abs/2111.09259">Acquisition of Chess Knowledge in AlphaZero paper</a>.</div>
    <div>This website mirrors the original paper's <a href="https://storage.googleapis.com/uncertainty-over-space/alphachess/index.html?block=0&factor=0">Online Supplement</a> to visual non-negative matrix factorization-based representational space.</div>
    <div>The following visualization describes concepts from Leela Chess Zero's ‘representational space’ (i.e., internal activations). 36 factors are extracted from the activations of each of the network's 15 ResNet blocks (factors aren't aligned between blocks).</div>
    <div class="selection-form">
        <!-- Block Selector -->
        <div class="grid">
          <div class="title">Block</div>
          {% for block in range(1, 16) %}
          <input type="radio" id="block{{ block }}" name="block" value="{{ block }}" class="grid-item" {% if block == 1 %}checked{% endif %}>
          <label for="block{{ block }}" class="grid-label">{{ block }}</label>
          {% endfor %}
        </div>
        <!-- Factor Selector -->
        <div class="grid">
          <div class="title">Factor</div>
          {% for factor in range(1, 37) %}
          <input type="radio" id="factor{{ factor }}" name="factor" value="{{ factor }}" class="grid-item" {% if factor == 1 %}checked{% endif %}>
          <label for="factor{{ factor }}" class="grid-label">{{ factor }}</label>
          {% endfor %}
        </div>
      </div>
<div id="imagesContainer"></div>
<script src="script.js"></script>
</body>
</html>
